<% provide(:title, 'Signup' ) %>

<div class="container">   
            <div class="span3">                
                        <div class='sup'> 
                        	 <div class='sign-header'> 
                            	    <p>
                            	    	Welcome to Kodefuge
                            	    </p>
                            	    <br />
									<h4>Sign up | <%= render "devise/shared/links" %></h4>
							</div>
								<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
								  <%= devise_error_messages! %>

								  <div><%= f.label     :name %>
								  <%= f.text_field     :name, :required => true, :autofocus => true %></div>

								  <div><%= f.label     :email %>
								  <%= f.email_field    :email, :required => true %></div>

								  <div><%= f.label     :password %><br />
								  <%= f.password_field :password, :required => true %></div>

								  <div><%= f.label     :password_confirmation %>
								  <%= f.password_field :password_confirmation %></div><br />

								  <div><%= f.submit "Sign up", :class => "btn btn-large btn-primary" %></div>
								<% end %>
						</div>
			</div>
</div>
