<% provide(:title, 'About') %>   
 
  <div class="container">     
  <div class="container marketing">
    <div class='about'>
    	<div class="row">
    	    <div class="span9">	
				              <br />
					          <div class='dashed'></div>	
					          <br />             
		    </div>		 
		    <div class="span9">		
						       <h4><%= image_tag('glyphicons/glyphicons_020_home.png', :class => 'bs-icon', :size => '25x25') %>  WHO WE ARE: 
						       </h4>
				    	        <br />
						        <div class='dashed'></div>	
						        <br />	    
		    </div>	
		    <div class="span9">  	 
	        <div class='mission-statement'>
				      	<p>
				      		We are a small team of developers who thrive to be the best they can be at what they do. We’re all full-stack developers that don’t believe in the separation of Frontend from Backend. To this end, we use a variety of technologies to help, not only streamline the process of development, but also deliver a product that is as close as possible to the 99% satisfaction of, not only a potential consumer, but ours as well. 
				      	</p>
				      	<p>

				      		The site serves more as a webfront and a lab for our personal open-source projects than anything else. We'll express our views about the techologies we use and will share our projects when they come to fruition.
				      	</p>
				      	<p>
				      		The site is also, we hope, a source of information for any RoR developer, beginner or advanced alike. We'll update the material, as it becomes available. 
				      	</p>
		    </div>
		    </div>
		    <br />
	      	<!-- <div class='hr'></div> -->
	       <br />
	    </div>
        <div class="row">
			    <div class="span9">	
			    	    <br />
					    <div class='dashed'></div>
					     <br />  			    
				</div>
			    <div class="span9">    
			            <h4><%= image_tag('tech.png', :class => 'bs-icon', :size => '25x25') %>  The Technologies </h4>
			            <br />
			    </div>
			    <div class="span9">		    	    
					    <div class='dashed'></div>
					    <br />
				</div> 
			    <div class="span9">  
			        <div class='mission-statement'> 
					            <p>
					            	We use a broad range of technologies, but we do prefer open-source because we believe that information is meant to be shared for the benefit of everyone. Not only do we use open-source, but we would like to contribute to it, as well.
					            </p>
					            <p>
					            	We also like to keep up to date with the latest technolpogies, so that we can keep improving, especially in an industry like ours where things are constantly evolving.
					            </p>
					</div>
				    </div>	
				    <div class="span9">	
				    	    </br>
						    <div class='dashed'></div>			    
					</div>		 
					<div class="span9">	
					     <br />			
						 <h4><%= image_tag('glyphicons_042_group.png', :class => 'bs-icon', :size => '25x25') %>  The Team: </h4>
					</div>
					<div class="span9">	
				    	    </br>
						    <div class='dashed'></div>			    
					</div>
					<div class='span9'> 
					    <!-- <div class='rounded'>    -->
					    <br /> 
					        <div class='image-wrapper'>     
					               <div class='grayscale'><%= image_tag('member2.png', :alt =>"") %> </div> 
					        </div>
					        <!-- <header class='visibility'><header>Adam Raouki</header> -->
					        <!-- <div class='verdashed'></div> -->
							<div class='kaption'>
							    	<h4>
							    		Adam Raouki
							        </h4>
							       
							        <h5>
							        	Designer/Developer
							        <br />
							        </h5>
							        <br />
							        <p>
							        	Adam has been involved with computers for over a decade. His background is in Java and PHP, but after his first encounter with Ruby On Rails in 2009, he decided ROR was the way to go. He considers himself a full stack developer and doesn't believe in drawing the line between frontend and backend development. He loves bodybuilding, is an avid classical music listener and a huge MMA Fights fan.
					                </p>
					                <h6><%= link_to '@Contact', 'mailto:adam0964@gmail.com' %></h6>
					         </div>
				    </div>
				    <div class="span9">	
						    <div class='dashed'></div>
						    <br />
					</div>
				    <div class="span9">
				        <!-- <div class='rounded'>   -->
				           <div class='image-wrapper'>    
				                <div class='grayscale'><%= image_tag('member.png', :alt =>"") %></div>
				           </div>
				            <!-- <div class='verdashed'></div> -->
			                <div class='kaption'>
			                	<h4>
						    		Synfony Thurston
						        </h4>
								<h5>
						        	Developer
						        </h5>
						        <br />
						        <p>
						        	Synfony has been in the field of computers for quite sometime. She transitionned, a few years back, from computer networking to software development. She worked with PHP until she was introduced to Ruby and Ruby on Rails. From that point on, she never looked back. She likes web design and, sometimes, she colud be a little vicious with CSS.
				                </p>
				                <h6><%= link_to '@Contact', 'mailto:sythurston0964@gmail.com' %></h6>
			                </div>
					</div>
					<div class="span9">	    	
				    	    <div class='dashed'></div>
						    </br />
					</div>
					<div class="span9">
						<!-- <div class='rounded'>   -->
						    <div class='image-wrapper'> 	
						              <div class='grayscale'><%= image_tag('member2.png', :alt =>"") %></div>
						    </div>
						    <!-- <div class='verdashed'></div> -->
						        <div class='kaption'>
				                	<h4>
							    		Avril Olivos
							        </h4>
						
							        <h5>
							        	Developer
							        </h5>
							        <br />
							        <p>
							        	Avril was rescued from PHP hell when he discovered Rails, about a year ago. He's a quick learner and, in a very short period of time, he made tremendous strides in Ruby and Rails. He also likes to collaborate in the frontend and can be very creative with Javascript. When not coding, Avril likes working out and tries to catch up on his reading of one of his favorite subjects: History.
					                </p>
					                <h6><%= link_to '@Contact', 'mailto:avolivos964@gmail.com' %></h6>
				                </div>
					</div>
					<div class="span9">	
						    <div class='dashed'></div>
						    <br />
					</div>
					<div class="span9">			 
						<h4>
							<%= image_tag('glyphicons_009_magic.png', :class => "bs-icon", :size => "25x25", :alt =>"") %> 
							The Boutique
						</h4>
					</div>
					<div class="span9">	
				    	    </br>
						    <div class='dashed'></div>			    
					</div>
					<div class="gallery">
				             <ul class="thumbnails">
									<li class="span3">
									    <div class="thumbnail2">			 
										  <div class='ads5'>
										        <%= image_tag 'boutique1.jpg' %><br /><br />
										         <p> 
										       		We like Mac and are allergic to Windows
										         </p>	
										    
										   </div> 
									    </div>
									</li>
								    <li class="span3">
									  	<div class="thumbnail2">
										    <div class="ads6">
										    	 <%= image_tag 'boutique2.jpg' %><br /><br />
											       <p> 
											       		We also like Unix. Our favorite flavors are Suse, Ubuntu
											       </p>
										      
										    </div>
									    </div>
								    </li>
								    <li class="span3">
									  	<div class="thumbnail2">
										    <div class="ads7">
										    	<%= image_tag 'boutique6.jpg' %><br /><br />
											       <p> 
											       		Sublime is our favorite Text Editor. 
											       </p>
										    </div>
										</div>
								    </li>
						    </ul>
			         </div>
            </div>
    </div>
  </div> 
</div>

