<% provide(:title, 'Home' ) %>

    <!-- =============================================
    |                    cslider                     |
    ================================================== -->
    
    
    <div id="da-slider" class="da-slider">
             <div class="da-slide">
                    <h2>Welcome to KodeFuge</h2>
                      <p>
                        We are a small team of developers who thrive to be the best they can be at we do. We’re all full-stack developers that don’t believe in the separation ...
                      </p>
                    <%= button_to('Click here for More   ', 'about', :class => 'bigbutton')%>
                    <div class="da-img">
                      <%= image_tag('coffee.png', :alt => 'image1') %>
                    </div>
              </div>
              <div class="da-slide">
                    <h2> Responsive Design</h2>
                      <p>
                        Rather than creating disconnected designs, each tailored to a particular device or browser, we should instead treat them as ...
                      </p>
                    <%= button_to('Click here for More   ', 'responsive', :class => 'bigbutton2')%>
                    <div class="da-img">
                      <%= image_tag('rdesign.png', :alt => 'image2') %>
                    </div>
              </div>
              <div class="da-slide">
                      <h2> Frontend Development</h2>
                        <p>
                          Thucydides wrote once: 'Knowledge without understanding is useless'. We subscribe to this line of reasoning. That’s to say, we know our ...
                        </p>
                      <!-- <a href="#" class="da-link">Read more</a> -->
                      <%= button_to('Click here for More   ', 'frontend', :class => 'bigbutton3')%>
                      <div class="da-img">
                      <%= image_tag('front2.png', :alt => 'image2') %> 
                      </div>
              </div>
              <div class="da-slide">
                      <h2>Backend Development</h2>
                        <p>
                          We are equally committed to the backend as we are to the frontend development. While, as the old saying goes “People see your face first”, once you ...
                        </p>
                      <%= button_to('Click here for More   ', 'backend', :class => 'bigbutton4')%>   
                      <div class="da-img">
                        <%= image_tag('ruby.png', :alt => 'image3') %>
                      </div>
              </div>
              <div class="da-slide">
                      <h2>Software Testing</h2>
                        <p>
                          Debugging sucks and testing rocks. That’s why we believe in continuous testing. We practice BDD/TDD using Cucumber/capybara and Rspec
                        </p>
                      <%= button_to('Click here for More   ', 'testing', :class => 'bigbutton7')%>
                      <div class="da-img">
                        <%= image_tag('traffic.png', :alt => 'image5') %>
                      </div>
              </div>
              <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
              </nav>
    </div>
    <br /><br />
    <!-- <div class='headers'>
                <h2> 
                      <%= image_tag('bsmith.png', :size => '100x100') %> Tools We use
                </h2>
                <p>
                      These are some of the tools we have been using and that we’ve come to like. We’re not advertising them here because we're getting paid for doing so, which we're not, but because of the huge difference they make in our day to day tasks while we are developing. By displaying them here, we only wish to inform and, perhaps, inspire.
                </p><br />
    </div> -->
    

<!--
======================================================
|      Marketing messaging and featurettes           |
====================================================== 
-->
    <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
      <ul class="thumbnails">
              <li class="span3">
                  <div class="advert">
                    <h3> Some of the Tools used</h3>
                    <span>
                      <%= link_to image_tag('GitHub-Logo.png', :alt => ""), 'http://github.com', :target => '_blank' %>&nbsp&nbsp
                      <%= link_to image_tag('travis-ci-logo.jpg', :alt => ""), 'https://travis-ci.org/', :target => '_blank' %>
                      <%= link_to image_tag('trello-logo.png', :alt => ""), 'https://trello.com/', :target => '_blank' %>&nbsp&nbsp
                      <%= link_to image_tag('heroku-logo.png', :alt => ""), 'https://www.heroku.com/', :target => '_blank' %></span>
                </div>
                <div class="advert">
                    <span>
                      <%= link_to image_tag('so-logo.png', :alt => ""), 'http://stackoverflow.com/', :target => '_blank' %>&nbsp&nbsp
                      <%= link_to image_tag('bit-logo.png', :alt => ""), 'https://bitbucket.org/', :target => '_blank' %>&nbsp&nbsp
                      <%= link_to image_tag('aws-logo.png', :alt => ""), 'http://aws.amazon.com/', :target => '_blank' %>&nbsp&nbsp
                      <%= link_to image_tag('pivotal-labs-logo.png', :alt => ""), 'http://pivotallabs.com/', :target => '_blank' %></span>
                </div>
              </li>
      </ul>
      <hr class="featurette-divider"><br />
      <ul class="thumbnails">
            <li class="span3">
                <div class="advert">
                    <span>
                      <%= link_to image_tag('bootstrap-logo.png', :alt => ""), 'http://getbootstrap.com/', :target => '_blank' %>&nbsp&nbsp
                      <%= link_to image_tag('foundation-logo.jpg', :alt => ""), 'http://foundation.zurb.com', :target => '_blank' %>
                      <%= link_to image_tag('skeleton-logo.png', :alt => ""), 'http://www.getskeleton.com/', :target => '_blank' %>&nbsp&nbsp
                      <%= link_to image_tag('blueprint-logo.png', :alt => ""), 'http://www.blueprintcss.org/', :target => '_blank' %></span>
                </div>
              </li>
              <!-- <div class="thumbnail2">       
                  <div class='ads1'>
                      <h3><%= link_to 'Quirktools', 'http://quirktools.com/screenfly/', :target => '_blank' %></h3><br /> 
                          <p>
                            Screenfly is an excellent tool for testing your apps and see how they would look on different devices with big display. 
                          </p>
                  </div> 
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail2">       
                  <div class="ads2">
                      <h3><%= link_to 'The Responsinator', 'http://www.responsinator.com/ ', :target => '_blank' %></h3><br />    
                          <p>
                            The Responsinator is another tool that is perfect for testing your apps' display on a variety of mobile devices. 
                          </p>
                   </div> 
              </div>
            </li>
            <li class="span3">
               <div class="thumbnail2">
                  <div class="ads3">
                      <h3><%= link_to 'Bootstrap', 'http://bootstrap-code.tumblr.com', :target => '_blank' %></h3><br />
                            <p>
                              This is a Sleek, intuitive, and powerful front-end framework for faster and easier web development.
                            </p>
                  </div>
               </div>
            </li>
            <li class="span3">
                <div class="thumbnail2">
                     <div class="ads4">
                      <h3><%= link_to 'Foundation', 'http://foundation.zurb.com', :target => '_blank' %></h3><br />
                             <p>
                                 With this tool, you can build for small devices first. Then, as devices get larger and larger, layer in more complexity.
                             </p>
                     </div>
                </div>
            </li>      -->
      </ul>
      <hr class="featurette-divider"><br /><br />

       <!-- START THE FEATURETTES -->

      <div class="featurette">
       
        <h2 class="featurette-heading"><%= image_tag('blog3.png', :size => '55x55') %>&nbsp&nbsp<span class="muted">Latest Blog Post:</span>
        How 2 Rails apps using different versions of Ruby/Rails can coexist on the same machine.
        </h2><br />
            <div class="lead"> 
                    <p>Suppose that you need to develop simultaneously two rails applications that use two different versions of Ruby, Rails, and different sets of gems. How would you go about implementing a solution that would allow both applications to coexist in your development environment without conflict?...</p>
            </div> 
              <%= button_to 'Read on', '/posts/27', :method => "get", :id => 'readButtonIndx' %>
      </div>
      <hr class="featurette-divider">

      <div class="featurette">
         
        <h2 class="featurette-heading"><span class="muted">Some of the upcoming articles:</span><br /><br /><br />
          <p class="lead"><%= image_tag('blog.png', :size => '25x25') %>&nbsp&nbspCaching in Rails 3 the Rails 4 way.</p>
            <div class='dashed2'></div><br />
          <p class="lead"><%= image_tag('blog.png', :size => '25x25') %>&nbsp&nbspBlocks in Ruby: What are they & why should you care?</p>
            <div class='dashed2'></div><br />
          <p class="lead"><%= image_tag('blog.png', :size => '25x25') %>&nbsp&nbspARGF, Splat, Tap & Freeze in Ruby.</p>
          <div class='dashed2'></div><br />
      </div>
      <hr class="featurette-divider">

      <div class="featurette">
        <h2 class="featurette-heading"><span class="muted">And lastly, one of the projects that's being worked on:</span> <br /><br />
          <h3><%= image_tag('new.png', :size => '55x55') %>&nbsp&nbspEmberia</h3>
        <div class="lead">
                    <p>Another ambitious application built with emberjs and Ruby on Rails.</p>
        </div>
      </div>
      <br /><br />

      <!-- <hr class="featurette-divider"> -->

      <!-- /END THE FEATURETTES -->
      
</div>

