<% provide(:title, 'Portfolio' ) %>

<!-- <div class="container4">
    <div class="row">
       <div class="span22">  -->


<div class="container">	
	<!-- Main hero unit for a primary marketing message or call to action -->
      <div class="media-unit">
        <h3>Our Portfolio</h3><br />
        <p>These are samples of our work of which we are proud. Other projects are still in the works and are not ready for prime time yet. Stay tuned</p>
        <!-- <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
     </div>  
     <div class="span9"> 
       	<div class='portfolio'>
            <div>
		 		<ul class="thumbnails">
				        <li class="span3">
				            <div class="thumbnail">
							  <div> 
							  	   <p>
							  	   	   <%= link_to image_tag('kodefuge1.png'), 'http://localhost:3000' %> 
							  	   </p> 
							  </div>  			     			
					            <div class="caption">
						              <h5>Home page</h5><br />
						              <p>
						              	This is our main page where we expose all the goods. We rried to make it as borad as possible in term of design, but also in terms of content, but without overwhelming the visitor and chasing him away.
						              </p>
						             <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
					            </div>
				            </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				           <div> 
							  	   <p>
							  	   	   <%= link_to image_tag('kodefuge2.png'), 'http://localhost:3000/bookshelf' %> 
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Bookshelf page</h5><br />
				              <p>
				              	We tried to make this page look as sleek as possible. We could have thrown in a bunch of names/links, but, not many people would take the time to go through a bunch of unattractive and hard to read references.
				              </p>
				            <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
				        <li class="span3">
				            <div class="thumbnail">
							  <div> 
							  	   <p>
							  	   	   <%= link_to image_tag('kodefuge3.png'), 'http://localhost:3000/videoshelf' %> 
							  	   </p> 
							  </div>  			     			
					            <div class="caption">
						              <h5>Videoshelf page</h5><br />
						              <p>In this page, we decided to post the actual videos as they look when they're clicled on and give a brief summary of what the're all about and give our feedback about those we have already viewed.</p>
						              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
					            </div>
				            </div>
				        </li>
				        <li class="span3">
				            <div class="thumbnail">
							  <div> 
							  	   <p>
							  	   	   <%= link_to image_tag('kodefuge4.png'), 'http://localhost:3000/blog' %> 
							  	   </p> 
							  </div>  			     			
					            <div class="caption">
						              <h5>Blog page</h5><br />
						              <p>In this page, we focused more on the readability in terms of font, lineheight, background color and lighting. We picked a Droid Serif font because it's sleek and easy on the eyes on any device.</p>
						              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
					            </div>
				            </div>
				        </li>
				        <li class="span3" id="login-image">
				            <div class="thumbnail">
							  <div> 
							  	   <p>
							  	   	   <%= link_to image_tag('kodefuge5.png'), 'http://localhost:3000/login' %> 
							  	   </p> 
							  </div>  			     			
					            <div class="caption">
						              <h5>Login page</h5><br />
						              <p>Login is a very simple process, at least, from a user's point of view, so should the login window. Therefore, we kept the same design for all three actions and made it seamles to go from one to the other.</p>
						              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
					            </div>
				            </div>
				        </li>
				        
				</ul>	  	
            </div>
            <hr />
       </div>
   </div>
</div>