<% provide(:title, 'Bookshelf') %>
    
<!-- begin container class-->
<!-- <div class="container">  -->
  <div class="container marketing">
    <div class="navbar navbar-middle">
      <!-- <div class="navbar-middle"> <!-- to be avoided -->
        <!-- <div class="container2">  -->
              <section id="dg-container" class="dg-container">
                <div class="dg-wrapper">
                    <% @books.each do |book| %>
                        <%= link_to image_tag(book.cover, :class => 'book') %>
                    <% end %>
                </div>
                <nav> 
                  <span class="dg-prev">&lt;</span>
                  <span class="dg-next">&gt;</span>
                </nav>
              </section>
        </div>    
      </div>
    </div>
<!--end container class-->

<div class="container3">
    <div class="row">
         <div class="span22">  
         <article class="libheader"> 
              <p> 
                We use different resources to hone our skills: conferences, blogs, screencasts, but, there is no better resource than a book. Not only do you get the facts from the horse’s mouth, so to speak, but you get to the bottom of a topic, as well, so you know what the heck you’re doing. These are just a few of the books that we used, are currently using or intend to use in the near future. We hope you will glean from them something that could help you in some way.

              </p>
            <%# <%= image_tag('divider.png', :class => 'divider2') %>
         </article>
                              
                <!-- <div class="span2" id="sidebar">                   
                </div>  -->                   
                
         <div class= 'span10'>
                               <% if browser.firefox? || browser.opera?  || browser.ie? %>
                                    <div class='fire-photos'>
                                <% else %>
                                    <div class='photos'>
                                <% end %>
                                       <table cellspacing="0">
                                          <% @books.in_groups_of(9, false).each do |books| %>  
                                                  <tr> 
                                                    <% for book in books %>
                                                        <td>
                                                            <%= link_to image_tag(book.cover, :class => 'book') %>
                                                            <% if current_user.try(:admin?)  %>                                                 
                                                                  <%= link_to 'Edit', edit_book_path(book) %> |
                                                                  <%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } %>
                                                                  <%= link_to 'New Book', new_book_path %>
                                                            <% else %>
                                                            <% end %>
                                                            <div class='hrline'><hr /></div>
                                                        </td>
                                                    <% end %> 
                                                  </tr>
                                            <% end %> 
                                       </table>
                                     </div>
        </div>  
    </div>     
    </div>
   </div>
 </div>
</div>