<% provide(:title, 'Signin') %>

<div class="container">   
            <div class="span3">               
                        <div class='sup'>  
                            <div class='sign-header'> 
                            	    <p>
                            	    	Welcome to Kodefuge
                            	    </p>
                            	    <br />
									<h4>Admin Sign in</h4>
							</div>
							<br />
										<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
											  <div><%= f.label     :email %>
											  <%= f.email_field    :email, :autofocus => true %></div>

											  <div>
											  	   <%= f.label          :password %>
											       <%= f.password_field :password %>
											  </div><br />

											  <% if devise_mapping.rememberable? -%>
											      <span id="remember"><%= f.check_box :remember_me %><%= f.label :remember_me %></span>
											    <br />
											  <% end %>
											        <div>
											        	<%= f.submit "Sign in Admin", :class => "btn btn-large btn-primary" %>
											        </div>
										<% end %>
						</div>
			</div>
</div>