<% provide(:title, 'Signin') %>

<div class="container">   
            <div class="span3">               
                        <div class='sup'>  
                            <div class='sign-header'> 
                            	    <p>
                            	    	Welcome to Kodefuge
                            	    </p>
                            	    <br />
									<h4>Sign in | <%= render "devise/shared/links" %></h4>
							</div>
							<br />
										<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
										  <div><%= f.label     :email %>
										  <%= f.email_field    :email, :autofocus => true %></div>

										  <div><%= f.label     :password %>
										  <%= f.password_field :password %></div><br />

										  <% if devise_mapping.rememberable? -%>
										    <div><%= f.check_box :remember_me %></div><br /><div> <%= f.label :remember_me %></div><br />
										  <% end -%>

										  <div><%= f.submit "Sign in", :class => "btn btn-large btn-primary" %></div>
										<% end %>
						</div>
			</div>
</div>
