<% provide(:title, 'Index' ) %>

<div class="container marketing">
      <div class="row">  
            <div class="span10">                
                             <div class='blog-container'>
                              <br />
                                <% @posts.each do |post| %>
                                            <h3><%= post.title.upcase %></h3>
                                            <h6>
                                              <%= post.created_at.strftime("Published %b %d, %Y  by ")%><%= post.name.capitalize %>
                                            </h6></span>
                                            <br />
                                            <p><%= raw post.content.split[0..50].join(" ") %></p>
                                            <br />
                                            <%= button_to'CONTINUE READING', post, :method => "get", :id => 'readButton' %>
                                            <br /><br /><br />
                                            <hr class='straightLine'/>
                                                 <%#<% if current_user.try(:admin?)  %>
                                                        <%= link_to 'Edit', edit_post_path(post) %> 
                                                        <%= button_to 'Destroy', post, :method => :delete, data: { confirm: 'Are you sure?' } %>
                                                 <%#<% else %>
                                                 <%#<% end %>
                                  <% end %> 
                              </div>
                                            <br />
                                            <%#<% if current_user.try(:admin?)  %>
                                                    <%= link_to 'New Post', new_post_path %>
                                            <%#<%#<% else %>
                                           <%# <%#<% end %>
            </div>
      </div>
</div>