<% provide(:title, 'Index' ) %>

<!-- <div class="container">  -->
  <div class="container marketing">
      <div class="row">  
            <div class="span10">                
                            <!-- <div class='search-container'>
                                  <%= form_tag posts_path, :method => :get do %>
                                  <%= text_field_tag :search, params[:search], :class => "search-query", :placeholder => '' %>
                                  <%= submit_tag "Search Blog", :class =>'search-button' %>
                                  <% end %>
                            </div> -->
                            <br />
                             <div class='blog-container'>
                                <% @posts.each do |post| %>
                                            <h1><%= post.title%></h1><br />
                                            <p><%= post.created_at.strftime("PUBLISHED ON %a %b %d, %Y  %I:%M%p BY" ) %></p>
                                            <h4><%= post.name %></h4><br />
                                            <!-- <hr class='dotted_line'/><br /><br /> -->
                                            <p><%= raw post.content.split[0..50].join(" ") %></p>
                                            <br />
                                            <%= button_to'CONTINUE READING', post, :method => "get", :id => 'readButton' %>
                                            <h5>
                                                <i><%= post.comments.count %> 
                                                   <% if post.comments.count == 1 %> 
                                                             comment
                                                   <% else %> 
                                                             comments
                                                   <% end %>
                                                </i>
                                           </h5>
                                            <br /><br /><br />
                                            <hr class='straightLine'/>
                                                 <% if current_user.try(:admin?)  %>
                                                        <%= link_to 'Edit', edit_post_path(post) %> 
                                                        <%= link_to 'Destroy', post, :method => :delete, data: { confirm: 'Are you sure?' } %>
                                                 <% else %>
                                                 <% end %>
                                            </div>
                                  <% end %> 
                                            <br />
                                            <% if current_user.try(:admin?)  %>
                                                    <%= link_to 'New Post', new_post_path %>
                                            <% else %>
                                            <% end %>
                  </div>
</div>
</div>