<footer>
  <div class="wrapper">
    <div class="container ">
	        <ul class="thumbnails">
	            <li class="span3">
                        <div class="thumbnail2">      
                           <div class='footer-links'>
                             <div id='footer-topper'><h4>Ruby & Rails Links</h4></div><br /><br />
                             <ul>  
                                  <li>
                                        <span>
                                            <%= link_to image_tag('link3.png'), 'http://www.rubycentral.org', :target => '_blank' %>
                                        </span>
                                        <span>
                                             <%= link_to 'Ruby Central', 'http://www.rubycentral.org',       :target => '_blank' %>
                                        </span>
                                  </li>
                                  <li>
                                        <span>
                                             <%= link_to image_tag('link3.png'), 'https://rubygems.org', :target => '_blank' %>
                                        </span>
                                        <span>
                                              <%= link_to 'Rubygems', 'https://rubygems.org',           :target => '_blank' %>
                                        </span>
                                  </li>
                                  <li>
                                        <span>
                                              <%= link_to image_tag('link3.png'), 'http://www.ruby-doc.org/core-2.0/',  :target => '_blank' %>
                                        </span>
                                        <span>
                                               <%= link_to 'Ruby Core 2.0', 'http://www.ruby-doc.org/core-2.0/',     :target => '_blank' %>
                                        </span>
                                  </li>
                                  <li>
                                        <span>
                                               <%= link_to image_tag('link3.png'), 'http://api.rubyonrails.org',  :target => '_blank' %>
                                        </span>
                                        <span>
                                               <%= link_to 'Rails 4.0 API', 'http://api.rubyonrails.org',     :target => '_blank' %>
                                        </span>
                                  </li>
                                  <li>
                                        <span>
                                               <%= link_to image_tag('link3.png'), 'http://edgeguides.rubyonrails.org/4_0_release_notes.html', :target => '_blank' %>
                                        </span>
                                        <span>
                                                <%= link_to 'Rails Guides', 'http://edgeguides.rubyonrails.org/4_0_release_notes.html', :target => '_blank' %>
                                        </span>
                                  </li>
                                  <li>
                                        <span>
                                                 <%= link_to image_tag('link3.png'), 'http://railsapps.github.io/', :target => '_blank' %>
                                        </span>
                                        <span>
                                                 <%= link_to 'RailsApps Project', 'http://railsapps.github.io/', :target => '_blank' %>
                                        </span>
                                  </li>
                                   <li>
                                        <span>
                                          <%= link_to image_tag('link3.png'), 'http://www.codequizzes.com/programming', :target => '_blank' %>
                                        </span>
                                        <span>
                                                 <%= link_to 'Code Quizzes', 'http://www.codequizzes.com/programming', :target => '_blank' %>
                                        </span>
                                  </li>
                                  <li>
                                        <span>
                                          <%= link_to image_tag('link3.png'), 'http://projecteuler.net/', :target => '_blank' %>
                                        </span>
                                        <span>
                                                 <%= link_to 'Project Euler', 'http://projecteuler.net/', :target => '_blank' %>
                                        </span>
                                  </li>
                              </ul>
                         </div> 
                        </div>
              </li>
              <li class="span3">
                        <div class="thumbnail2">
                            <div class="footer-links">
                                <div id='footer-topper'><h4>Ruby Conferences</h4></div><br /><br />
                                <ul> 
                                    <li>
                                          <span>
                                              <%= link_to image_tag('link3.png'), 'http://rubyconf.org/registration', :target => '_blank' %>
                                          </span>
                                          <span>
                                               
                                               <%= link_to 'Ruby 2013', 'http://rubyconf.org/registration', :target => '_blank' %>
                                          </span>
                                     </li>
                                     <li>
                                          <span>
                                                <%= link_to image_tag('link3.png'), 'https://www.youtube.com/playlist?list=PLE7tQUdRKcyZ09J3-EXxzX2yCgl4a5qUk', :target => '_blank' %>
                                          </span>
                                          <span>
                                                <%= link_to 'LA Ruby 2013', 'https://www.youtube.com/playlist?list=PLE7tQUdRKcyZ09J3-EXxzX2yCgl4a5qUk', :target => '_blank' %>
                                          </span>
                                    </li>
                                    <li>
                                          <span>
                                                <%= link_to image_tag('link3.png'), 'https://www.youtube.com/playlist?list=PLE7tQUdRKcyYgGVJqolUSSpaKDBiVx1-5', :target => '_blank' %>
                                          </span>
                                          <span>
                                                <%= link_to 'MW Ruby 2013', 'https://www.youtube.com/playlist?list=PLE7tQUdRKcyYgGVJqolUSSpaKDBiVx1-5', :target => '_blank' %>
                                          </span>
                                    </li>
                                    <li>
                                          <span>
                                                <%= link_to image_tag('link3.png'), 'https://www.youtube.com/playlist?list=PLE7tQUdRKcyZwIqysBb4BVWZ5hzWPPylr', :target => '_blank' %>
                                          </span>
                                          <span>
                                                <%= link_to 'Ruby Midwest 2013', 'https://www.youtube.com/playlist?list=PLE7tQUdRKcyZwIqysBb4BVWZ5hzWPPylr', :target => '_blank' %>
                                          </span>
                                    </li>
                                     <li>
                                          <span>
                                                <%= link_to image_tag('link3.png'), 'http://www.confreaks.com/videos/2586-lonestarruby2013-dissecting-ruby-with-ruby?utm_source=rubyweekly&utm_medium=email', :target => '_blank' %>
                                          </span>
                                          <span>
                                                <%= link_to 'LoneStar Ruby 2013', 'http://www.confreaks.com/videos/2586-lonestarruby2013-dissecting-ruby-with-ruby?utm_source=rubyweekly&utm_medium=email', :target => '_blank' %>
                                          </span>
                                    </li>
                                     <li>
                                          <span>
                                                <%= link_to image_tag('link3.png'), 'http://www.youtube.com/playlist?list=PLE7tQUdRKcyb2J9YQH65NIEcVpmK6Rgct', :target => '_blank' %>
                                          </span>
                                          <span>
                                                <%= link_to 'Ruby 2012', 'http://www.youtube.com/playlist?list=PLE7tQUdRKcyb2J9YQH65NIEcVpmK6Rgct', :target => '_blank' %>
                                          </span>
                                    </li>
                                </ul>
                          </div>
                        </div>
                </li>
                <li class="span3">
                        <div class="thumbnail2">
                            <div class="footer-links">
                                  <div id='footer-topper'>
                                      <h4>Rails Conferences</h4>
                                  </div><br /><br />
                                  <ul>
                                       <li>
                                            <span>
                                                 <%= link_to image_tag('link3.png'), 'http://www.youtube.com/playlist?list=PLE7tQUdRKcybxgqVTwuOA12wr5Gn2M2Pp', :target => '_blank' %>
                                            </span>
                                            <span>
                                                
                                                  <%= link_to 'Rails 2013', 'http://www.youtube.com/playlist?list=PLE7tQUdRKcybxgqVTwuOA12wr5Gn2M2Pp', :target => '_blank' %>
                                            </span>
                                       </li>
                                       <li>
                                            <span>
                                              <%= link_to image_tag('link3.png'), 'http://www.youtube.com/playlist?list=PLF16D2F3A8469021E', :target => '_blank' %>
                                            </span>
                                            <span>
                                                  
                                                    <%= link_to 'Rails 2012', 'http://www.youtube.com/playlist?list=PLF16D2F3A8469021E', :target => '_blank' %>
                                            </span>
                                       </li>
                                  </ul>
                          </div>
                      </div>
                      </li>
                <li class="span3">
                          <div class="thumbnail2">
                            <div class="footer-links">
                                <div id='footer-topper'>
                                    <h4>HTML/CSS/JS Confs</h4>
                                </div><br /><br />
                               <ul>
                                       <li>
                                            <span>
                                                 <%= link_to image_tag('link3.png'), 'https://www.youtube.com/playlist?list=PLndbWGuLoHeY0h9-7m-EPEFdlnYcDi2Mt', :target => '_blank' %>
                                            </span>
                                            <span>
                                                  <%= link_to 'HTML 5 2013', 'https://www.youtube.com/playlist?list=PLndbWGuLoHeY0h9-7m-EPEFdlnYcDi2Mt', :target => '_blank' %>
                                            </span>
                                       </li>
                                        <li>
                                            <span>
                                                 <%= link_to image_tag('link3.png'), 'https://www.youtube.com/results?search_query=fluent+2013&oq=fluent+2013&gs_l=youtube.3..0j0i5l2.6564.9788.0.10280.11.11.0.0.0.0.111.708.10j1.11.0...0.0...1ac.1.11.youtube.HDBEpJjZElE', :target => '_blank' %>
                                            </span>
                                            <span>
                                                  <%= link_to 'Fluent 2013', 'https://www.youtube.com/results?search_query=fluent+2013&oq=fluent+2013&gs_l=youtube.3..0j0i5l2.6564.9788.0.10280.11.11.0.0.0.0.111.708.10j1.11.0...0.0...1ac.1.11.youtube.HDBEpJjZElE', :target => '_blank' %>
                                            </span>
                                       </li>
                                        <li>
                                            <span>
                                              <%= link_to image_tag('link3.png'), 'https://www.youtube.com/playlist?list=PL-0yjdC10QYrAHG4Fo1bsimpaB70vQ6pQ', :target => '_blank' %>
                                            </span>
                                            <span>
                                                    <%= link_to 'jQuery 2013', 'https://www.youtube.com/playlist?list=PL-0yjdC10QYrAHG4Fo1bsimpaB70vQ6pQ', :target => '_blank' %>
                                            </span>
                                       </li>
                                       <li>
                                            <span>
                                              <%= link_to image_tag('link3.png'), 'http://backboneconf.com/?utm_source=javascriptweekly&utm_medium=email', :target => '_blank' %>
                                            </span>
                                            <span>
                                                    <%= link_to 'Backbone 2013', 'http://backboneconf.com/?utm_source=javascriptweekly&utm_medium=email', :target => '_blank' %>
                                            </span>
                                       </li>
                                       <li>
                                            <span>
                                              <%= link_to image_tag('link3.png'), 'http://www.youtube.com/playlist?list=PL37ZVnwpeshF7AHpbZt33aW0brYJyNftx', :target => '_blank' %>
                                            </span>
                                            <span>
                                                    <%= link_to 'JS US 2013', 'http://www.youtube.com/playlist?list=PL37ZVnwpeshF7AHpbZt33aW0brYJyNftx', :target => '_blank' %>
                                            </span>
                                       </li>
                                       <li>
                                            <span>
                                              <%= link_to image_tag('link3.png'), 'http://www.youtube.com/watch?v=NnOtd0Dk79w&feature=c4-overview-vl&list=PL055Epbe6d5aclKNAa8msO1VvDOJ8sYlS', :target => '_blank' %>
                                            </span>
                                            <span>
                                                    <%= link_to 'OSCON 2013', 'http://www.youtube.com/watch?v=NnOtd0Dk79w&feature=c4-overview-vl&list=PL055Epbe6d5aclKNAa8msO1VvDOJ8sYlS', :target => '_blank' %>
                                            </span>
                                       </li>
                                       <li>
                                            <span>
                                              <%= link_to image_tag('link3.png'), 'http://2012.jsconf.us/', :target => '_blank' %>
                                            </span>
                                            <span>
                                                  
                                                    <%= link_to 'JS 2012', 'http://2012.jsconf.us/', :target => '_blank' %>
                                            </span>
                                       </li>
                                       <li>
                                            <span>
                                              <%= link_to image_tag('link3.png'), 'http://www.youtube.com/playlist?list=PL37ZVnwpeshF-i8_6tDZU4543HrHXp8EL', :target => '_blank' %>
                                            </span>
                                            <span>
                                                    <%= link_to 'JS EU 2012', 'http://www.youtube.com/playlist?list=PL37ZVnwpeshF-i8_6tDZU4543HrHXp8EL', :target => '_blank' %>
                                            </span>
                                       </li>
                               </ul>
                              </div>
                          </div>
                </li>     
	        </ul><br />
		      <div class='span22'>
		     		  <div class='social-wrapper'>
	                    <div id='icons'>
	                       <%= link_to image_tag('ico/github-round.png'     ), 'https://github.com/Adam0964',           :target => '_blank' %> 
	                       <%= link_to image_tag('ico/linkedin-round.png'   ), 'https://www.linkedin.com/in/adam0964/', :target => '_blank' %>
	                       <%= link_to image_tag('ico/facebook-round.png'   ), ' ',                                     :target => '_blank' %>
	                       <%= link_to image_tag('ico/twitter-round.png'    ), 'https://twitter.com/adam0964',          :target => '_blank' %>
	                    </div>
	             </div> <br>
			         <div class='signature-wrapper'>
			                                 <p class="pull-right"><a href="#">Back to top</a></p>
			                                 <p>&copy; Kodefuge 2012 - 2013. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
			         </div>
          </div>
    </div>
  </div>
</footer>