<header>
	<div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
	            <div class="navbar navbar-inverse">
	                <div class="navbar-inner">
			            	<!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
				            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					              <span class="icon-bar"></span>
					              <span class="icon-bar"></span>
					              <span class="icon-bar"></span>
					              <span class="icon-bar"></span>
					              <span class="icon-bar"></span>
					              <span class="icon-bar"></span>
				            </button>
				            <div class="nav-collapse collapse">
					                <ul class="nav">
					                	  <li><%= link_to 'KODEFUGE', '/home',        :class => 'navtitle' %>&nbsp&nbsp</li>
				                          <li><%= link_to 'ABOUT', '/about',          :class => 'navtitle' %></li>
				                          <li><%= link_to 'BLOG', '/blog',            :class => 'navtitle' %></li>
				                          <li><%= link_to 'BOOKSHELF', '/bookshelf',  :class => 'navtitle' %></li>
				                          <li><%= link_to 'VIDEOSHELF','/videoshelf', :class => 'navtitle' %></li>
				                          <li><%= link_to 'PORTFOLIO', '/portfolio',  :class => "navtitle" %></li>
				                          <% if user_signed_in? %>    
		                                      <li><%= link_to 'ADMIN OUT', '/logout', :class => 'navtitle' %></li> 
		                                  <% else %>         
		                                      <li><%= link_to 'ADMIN IN', '/login2',  :class => 'navtitle'  %></li>
		                                  <% end %>
					                </ul>
			                </div>
	                 </div>
	            </div>
    </div>
</header>

