<!DOCTYPE html>
<html>
<head lang="en">

		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	   <meta name="description" content="">

  	<title>Kodefuge</title>
    <%= favicon_link_tag       "favicon.ico" %>

      <%= csrf_meta_tags %>
      <%= render 'layouts/shim' %>
</head>
<body>

      <%= yield %>
      <%= render :partial => 'layouts/header' %>       
      <%= render :partial => 'layouts/footer' %>

		  <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>

      <script>
	      // !function ($) {
	      //   $(function(){
	      //     // carousel demo
	      //     $('#myCarousel').carousel()
	      //   })
	      // }(window.jQuery)
	    </script> 

	    <script> // homepage cslider
                  $(function() {                  
                    $('#da-slider').cslider({
                      autoplay: true
                    });                   
                  }); 
        </script> 

        <script> // bookshelf
            $(function() {
              $('#dg-container').gallery({
                 autoplay: true
              });
            });
        </script> 
        <script> //markitup editor
             $(function() {
                $("textarea").markItUp(mySettings);
                // $('#html').markItUp(myHtmlSettings);
             });
        </script> 
</body>
</html>
